@use "sass:map";
@use "sass:color";
@use "sass:math";
@use "legacy_vendors/bootstrap";

$colors: (
    ////////////////////////
    // COULEURS BOOTSTRAP //
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    primary: bootstrap.$primary,
    secondary: bootstrap.$secondary,
    success: bootstrap.$success,
    info: bootstrap.$info,
    warning: bootstrap.$warning,
    danger: bootstrap.$danger,
    light: bootstrap.$light,
    dark: bootstrap.$dark,

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    ///////////////////////
    // COULEURS D'ENTITÉ //
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    game: #28a745,
    extension: #b000ff,
    console: #ff8000,
    accessory: #007bff,
    toy: #dc3545,

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    /////////////////////////
    // COULEURS COMPOSANTS //
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    sidebar: #334f80,
    sidebar-link: #a5d1ff,
    footer: #2a4068,
    footer-link: #9ec8f6,
    body: #edf1f7,
    header: #dbe2f0,
    table-header: #b7c7e3,

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    ///////////////////////
    // COULEURS EXTERNES //
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    twitter-x: #ffffff,
    youtube: #ff0000,
    twitch: #9146ff,
    discord: #5865f2,
    github: #fafafa,

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    ///////////////////////////
    // COULEURS UTILISATEURS //
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    vip: #ff2f48,
    moderator: #ff8533,
    administrator: #ffe033,

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    ///////////////////////
    // COULEURS DIVERSES //
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    "purple": #7a00b3,
    "orange": #ff8000,
    "gold": #ffdf00,

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
);

$color-steps: (
    // 50 < Plus clair ---- Base > 500 < Base ---- Plus sombre > 950
    50: 32.4%,
    100: 25.92%,
    200: 19.44%,
    300: 12.96%,
    400: 6.48%,
    500: 0%,
    600: -6.48%,
    700: -12.96%,
    800: -19.44%,
    900: -25.92%,
    950: -32.4%
);

$darken-link-step: 700;
$lighten-link-step: 300;

@function shade($color, $percentage) {
    @return color.adjust($color, $lightness: $percentage);
}

@function get-brightness($color) {
    @return (
        calc(
            (color.channel($color, "red") * 0.299) +
            (color.channel($color, "green") * 0.587) +
            (color.channel($color, "blue") * 0.114)
            / 255
        ) * 100%
    );
}

@function get-color($color, $step: 500) {
    $value: map.get($colors, $color);
    $percentage: map.get($color-steps, $step);

    @return shade($value, $percentage);
}

@function get-color-from-value($searched-value) {
    @each $color, $value in $colors {
        @if $value == $searched-value {
            @return $color;
        }
    }

    @error 'La valeur « #{$searched-value} » n’existe pas dans $colors';
}

@function get-foreground-for-background($background-color) {
    $light: get-color("light");
    $dark: get-color("dark");

    $background-brightness: get-brightness($background-color);
    $light-brightness: get-brightness($light);
    $dark-brightness: get-brightness($dark);

    @return if(
        math.abs($background-brightness - $light-brightness) > math.abs($background-brightness - $dark-brightness),
        $light,
        $dark
    );
}

@each $color, $value in $colors {
    .bg-#{$color} {
        $foreground-color-value: get-foreground-for-background($value);
        $foreground-color-name: get-color-from-value($foreground-color-value);

        background-color: $value;
        color: $foreground-color-value;

        a:hover,
        a:active {
            $step: if(
                $foreground-color-name == "light",
                $darken-link-step,
                $lighten-link-step
            );

            color: get-color($foreground-color-name, $step);
        }
    }

    .border-#{$color} {
        border-color: $value;
    }

    .btn-outline-#{$color} {
        color: $value;

        &:active,
        &:hover,
        &:focus,
        &:link,
        &.show,
        &.active {
            color: get-foreground-for-background($value);
        }
    }

    .dropdown-item-#{$color} {
        &.active,
        &:active {
            background-color: $value;
            color: get-foreground-for-background($value);
        }
    }
}
