@use 'sass:map';
@use 'sass:color';

////////////////////////
// COULEURS BOOTSTRAP //
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$colors: (
    ////////////////////////
    // COULEURS BOOTSTRAP //
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
    light: $light,
    dark: $dark,

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    ///////////////////////
    // COULEURS D'ENTITÉ //
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    game: #28a745,
    extension: #b000ff,
    console: #ff8000,
    accessory: #007bff,
    toy: #dc3545,

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    /////////////////////////
    // COULEURS COMPOSANTS //
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    sidebar: #334f80,

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    ///////////////////////
    // COULEURS EXTERNES //
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    twitter: #1b95e0,

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    ///////////////////////////
    // COULEURS UTILISATEURS //
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    vip: #ff2f48,
    moderator: #ff8533,
    administrator: #ffe033,

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    ///////////////////////
    // COULEURS DIVERSES //
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    purple: #7a00b3,
    orange: #ff8000,
    gold: #ffdf00,

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
);

$color-steps: (
    // 50 < Plus clair ---- Base > 500 < Base ---- Plus sombre > 950
    50: 32.4%,
    100: 25.92%,
    200: 19.44%,
    300: 12.96%,
    400: 6.48%,
    500: 0%,
    600: -6.48%,
    700: -12.96%,
    800: -19.44%,
    900: -25.92%,
    950: -32.4%
);

@function shade($color, $percentage) {
    @return color.adjust($color, $lightness: $percentage);
}

@function get-color($color, $step: 500) {
    $value: map.get($colors, $color);
    $percentage: map.get($color-steps, $step);

    @return shade($value, $percentage);
}
