@use "@/style/legacy_vendors/bootstrap";
@use '@/style/colors';

.btn {
    @extend .btn;
    @extend .fw-bold;
}

@each $color, $value in colors.$colors {
    $normal-background: $value;
    $normal-color: colors.get-foreground-for-background($normal-background);
    $hover-background: colors.get-color($color, 600);
    $hover-color: colors.get-foreground-for-background($hover-background);
    $active-background: colors.get-color($color, 700);
    $active-color: colors.get-foreground-for-background($active-background);
    $disable-background: colors.get-color($color, 400);
    $disable-color: colors.get-foreground-for-background($disable-background);

    .btn-#{$color} {
        @include bootstrap.button-variant(
            $normal-background,
            $normal-background,
            $normal-color,
            $hover-background,
            $hover-background,
            $hover-color,
            $active-background,
            $active-background,
            $active-color,
            $disable-background,
            $disable-background,
            $disable-color
        );
    }

    .btn-outline-#{$color} {
        @include bootstrap.button-outline-variant(
            $normal-background,
            $hover-color,
            $hover-background,
            $hover-background,
            $active-background,
        );
    }
}

.btn-auto {
    @extend .w-100;
}
